.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  padding-top: 10px;
  overflow: hidden;
}
.product:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  background-color: #fcfcfc;
  transition: transform 0.2s ease-in-out;
}

.product {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: left;
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.product img {
  max-width: 100%;
  height: 200px;
  margin: 10px auto;

  display: flex;
}

.description {
  font-size: 14px;
  margin: 20px 0;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  cursor: pointer;
  white-space: pre-wrap;
  max-width: 40rem;
}

@supports (-webkit-line-clamp: 2) {
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: calc(2 * 1.2em);
  }
}

.description:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: green;
}

.head {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.add-to-cart-btn {
  background-color: #4caf50;
  border: 1px solid darkgreen;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: #4caf50;
}

.container {
  position: relative;
  overflow: hidden;
}

.slideshow-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.heading {
  margin-top: 89px;
  /* margin-left: 40%; */
  color: rgb(51, 197, 246);
  font-size: 40px;
  text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.7);
  background-color: #232f3e;
  display: flex;
  justify-content: center;
}

.addcarticon {
  height: 20px;
  width: 20px;
}

/* ................................................................... */

.srch-drpbtn {
  display: -webkit-box;
  margin-left: 18%;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.search {
  width: 100%;
  position: sticky;
  display: flex;
}

.searchTerm {
  width: 50%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  margin-left: 10px;
}

.searchButton {
  width: 50px;
  height: 44px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.not-found {
  font-size: 3rem;
  color: red;
  text-align: center;
  margin-top: 2rem;
}

.load {
  text-align: center;
  font-size: 4rem;
}

/* ................................................................... */

/* drop down ..........................................*/

/* Dropdown Button */

.dropbtn {
  background-color: #ffffff;
  color: #333333;

  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
  border: 3px solid #00b4cc;
  border-radius: 5px;
}

/* Dropdown Button Hover */
.dropbtn:hover {
  background-color: #f9f9f9;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  z-index: 1;
}

/* Show Dropdown Content on Hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Arrow */
.arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

/* Arrow Rotate on Dropdown Hover */
.dropdown:hover .arrow {
  transform: translateY(-50%) rotate(180deg);
}

/* Dropdown Content Links */
.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.dropdown-content li {
  margin: 0;
  padding: 15px;
  font-weight: bold;
  position: relative;
}

.dropdown-content li:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.dropdown-content li a {
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: normal;
  padding: 12px 24px;
  text-decoration: none;
  position: relative;
}

.dropdown-content li a:hover {
  background-color: #f9f9f9;
}
.dropdown-content li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333333;
  transition: all 0.7s ease-in;
}

.dropdown-content li:hover::before {
  width: 100%;
}

.category-icon {
  font-size: 25px;
}

/* ............................................................................................................... */

/* footer part */

footer {
  color: white;
  background-color: #232f3e;
  /* position: fixed; */
  bottom: 0;
}
.footer-part {
  margin-bottom: 0px;
}

.row {
  display: flex;
  padding: 1rem;
}

.column {
  width: calc(100% / 3);
  padding: 0 0.9375rem;
}

.row h4 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

.row p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.row ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row ul li {
  margin-bottom: 0.625rem;
}

.row ul li a {
  color: white;
  font-size: 1rem;
}

.row ul li i {
  color: #6faaff;
}

.row ul li a:hover {
  color: #6faaff;
}

.row ul.social-icons {
  display: flex;
  column-gap: 0.625rem;
}

.social-icons i {
  color: white;
}

.row ul.social-icons li {
  margin-bottom: 0rem;
}

.row ul.social-icons li a {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #3c8fa0;
  color: black;
  font-size: 25px;
}

.row ul.social-icons li:hover a {
  background-color: #a6e3f6;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #000000;
  padding: 0.6rem 0;
  height: 30px;
}
.underline {
  text-decoration: none;
}
