footer {
  color: white;
  background-color: #232f3e;
  /* position: fixed; */
  bottom: 0;
  margin-bottom: 0px;
}
.footer-part {
  margin-bottom: 0px;
}

.row {
  display: flex;
  padding: 1rem;
}

.column {
  width: calc(100% / 3);
  padding: 0 0.9375rem;
}

.row h4 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

.row p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.row ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.row ul li {
  margin-bottom: 0.625rem;
}

.row ul li a {
  color: white;
  font-size: 1rem;
}

.row ul li i {
  color: #6faaff;
}

.row ul li a:hover {
  color: #6faaff;
}

.row ul.social-icons {
  display: flex;
  column-gap: 0.625rem;
}

.social-icons i {
  color: white;
}

.row ul.social-icons li {
  margin-bottom: 0rem;
}

.row ul.social-icons li a {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #3c8fa0;
  color: black;
  font-size: 25px;
}

.row ul.social-icons li:hover a {
  background-color: #a6e3f6;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #000000;
  padding: 0.6rem 0;
  height: 30px;
}
.underline {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .row h4 {
    font-size: 1.2rem;
  }

  .row p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .row ul li a {
    font-size: 0.9rem;
  }

  .row ul li i {
    font-size: 1.2rem;
  }

  .row ul.social-icons li {
    margin-right: 10px;
  }

  .row ul.social-icons li:last-child {
    margin-right: 0;
  }
}
