.login-page {
  background-image: url("./login.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-container {
  padding: 20px;
  width: 50vh;
  margin-left: 7%;
  margin-bottom: 10%;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.login-container form {
  display: flex;
  flex-direction: column;
  animation-name: flip;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    transform: perspective(1000px) rotateY(180deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.login-container label {
  margin-bottom: 10px;
  font-size: 18px;
}

.login-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(190 237 255);
}

.login-container button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-container button:hover {
  background-color: #0069d9;
}
.error {
  color: #e70000;
  font-size: 16px;
  margin-top: 10px;
}

.acc-link {
  color: #0069d9;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
